.outerbox {
    display: grid;
    grid-template-columns: auto auto auto;
    width:500px;
  }
.box {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

img {
    transform: scale(0.2);
}