@import url('https://fonts.googleapis.com/css2?family=Bokor&display=swap');

body {
    overflow-x: hidden !important;
}

h1{
    margin:auto;
    text-align: center;
    font-family: "Bokor", system-ui;
    font-weight: 400;
    font-style: normal;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 5vw;
    margin-left:5vw;
    margin-right:5vw;
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.game {
    width:10vw;
    height:10vw;
    padding:5vw;
}

img {
    width: 10vw;
    padding: 5vw;
}