@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body{
    background: radial-gradient(circle at bottom, navy 0, black 100%);
    height: 100vh;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;    font-weight: normal;
    color: whitesmoke;
}
.space {
  background: rgba(128, 0, 128, 0.1) center / 200px 200px round;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.out {
  width: 100%;
  height: 20%;
}

.outy {
    width: 100%
    height: 20%;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 300px;
  border-spacing: 10%;
  display: table-cell;
}

/* Make the image responsive */
.container img {
  width: 100%;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: none;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: none;
}
