@import url('https://fonts.googleapis.com/css2?family=Bokor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Bokor&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
/*
#4D511F Olive Drab
#D0BF94 Goldenrod Yellow
#EFE8DC Champaigne Beige
#B95A25 Cinnamon Spice
*/
body {
    background: radial-gradient(circle at bottom, #4D511F 0, #03260c 100%);
    margin: 0;
    overflow: hiddden;
}

h1{
    margin:auto;
    text-align: center;
    font-family: "Bokor", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    color: #D0BF94;
}

h1:hover {
    text-shadow: 0.05em 0 0 #D0BF94, -0.025em -0.05em 0 #B95A25,
      0.025em 0.05em 0 #4D511F;
      color: rgba(0, 194, 203, 0.2);
}

p {
    color:#D0BF94;
    font-family: "Atma", system-ui;
    font-weight: 400;
    font-style: normal;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 5%;
    margin-left: 5%;
    max-width: 100% !important;
    column-gap: 5vw;
    row-gap: 5vw;
    margin-right: 5%;
}

.game {
    width:10%;
    height:10%;
}

img {
    width:17vw;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}